
<!doctype html>
<html data-ng-app='app' data-ng-controller='controller' lang='en'>

<head>
  <meta name='Description' content='Add a description.'>
  <meta http-equiv='content-type' content='text/html; charset=utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src='js/angular_1.8.0.js'></script>
  <script src='js/utils.js'></script>
  <script src='js/shell.js'></script>
  <title>Shell</title>
  <link rel='stylesheet' type='text/css' href='style/dark.css'>
</head>

<body>
  <h1>Shell</h1>
  <div loading-indicator style='position: absolute; left: 5px; top: 5px; background-color: red; color: white; display:none;'></div>
  <span class='warning'>{{settings.message}}</span>
  <div ng-show='items'>
    <input ng-model='filterText' title='Filter text' placeholder='Filter text' type='text'> {{itemsFiltered.length}} items &nbsp;&nbsp;
    <a href ng-click='load()'>Refresh</a>&nbsp;&nbsp;
    <table>
      <tr>
        <th><a href ng-click="predicate = 'fieldA'; reverse=!reverse" style='color: white;' title='Click to sort'>Field<br>A</a></th>
      </tr>
      <tr ng-repeat='item in itemsFiltered = (items | orderBy:predicate:reverse | filter:filterText)'>
        <td>{{item.fieldA}}</td>
      </tr>
    </table>
  </div>
</body>

</html>
