/* Loosely based off of https://design.ubuntu.com/brand/colour-palette/ */
:root {
  --ub-grey: #333333;
  --ub-warm-grey: #AEA79F;
  --ub-light-grey: #D6D3CF;
  --ub-aubergine: #772953;
  --ub-mid-aubergine: #5E2750;
  --ub-dark-aubergine: #2C001E;
  --ub-orange: #E95420;
}

::-webkit-scrollbar {
  width: 0 !important
}

body,
html {
  font-family: Verdana, Arial, Helvetica, Times, serif;
  background-color: var(--ub-grey);
  color: white;
}

input, input[type='text'], textarea, select, button, input[type='date'] {
  background: var(--ub-grey);
  color: white;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--ub-warm-grey);
}

a:visited {
  color: var(--ub-light-grey);
}

a:active {
  color: var(--ub-orange);
}

a:hover {
  color: var(--ub-orange);
}

hr {
  border: 1px solid var(--ub-aubergine);
}

td {
  white-space: nowrap;
  border: thin solid var(--ub-aubergine);
  color: white;
  padding: 0em 0.5em 0em 0.5em;
  background: var(--ub-grey);
}

caption {
  background-color: var(--ub-dark-aubergine);
  color: white;
}

th {
  color: white;
  border: thin solid var(--ub-aubergine);
  font-weight: bold;
  background-color: var(--ub-dark-aubergine);
  padding: 0em 0.5em 0em 0.5em;
  text-align: left;
}

table {
  border-collapse: collapse;
  border: thin solid var(--ub-aubergine);
}

em {
  font-weight: bold;
}

.warning {
  background-color: red;
  color: yellow;
}

.success {
  background-color: green;
  color: black;
}

.preFormatted {
  white-space: pre-wrap;
  font-family: monospace;
}

.topRight {
  position: absolute;
  top: 0px;
  right: 0px;
}

.new {
  background-color: yellow;
  color: red;
  font-size: xx-small;
  font-weight: bold;
  font-style: italic;
  display: inline;
}

.accountAlertListItems {
  list-style-image: url('/icons/16x16/shadow/information.png');
}

.pending {
  background-color: yellow;
  color: black;
}

.sectionHeader {
  margin: 0;
  background-color: var(--ub-orange);
  color: white;
  text-align: center;
}

.smallLabel {
  color: white;
  font-size: smaller;
}

.navigationFrameBody {
  margin: 0 0 0 0;
  background-color: var(--ub-grey);
  color: white;
}

.navigationFrameBody a {
  text-decoration: none;
  color: white;
  font-size: smaller;
}

.navigationFrameBody a:hover {
  text-decoration: underline;
  background-color: red;
  color: white;
}

.Cell {
  background-color: var(--ub-grey);
  border: thin solid var(--ub-aubergine);
  color: white;
}

.Heading {
  color: white;
  border: thin solid var(--ub-aubergine);
  font-weight: bold;
  background-color: var(--ub-dark-aubergine);
  padding: 0em 0em 0em 0.5em;
  text-align: left;
}

.Table {
  border: thin solid var(--ub-aubergine);
}

.plain {
  background-color: var(--ub-grey);
  color: white;
  border: none;
}

.gm-style-iw-d {
  color: black;
}

.activeNow {
  background-color: yellow;
  color: black;
  font-weight: bold;
}

@keyframes animate01 {
  0% {
    opacity: 1;
    transform: rotateX(90deg);
  }

  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }

  100% {
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

.animate01 {
  animation-name: animate01;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}
